body {
  background-color: #f1f1f1;
}

header {
  .container {
    width: 1164px;
    margin: 0 auto;
    // border: 2px solid #ff0000;
    display: flex;
    gap: 35px;
    align-items: center;
    margin-top: 11px;
  }
  h1 {
    color: #000;
    font-family: "Roboto";
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
